body {
  font: 10px;
  background-color: #f1f3f3;
  font-family: "fira-sans-2", helvetica, sans-serif !important;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #e31a1c;
  stroke-width: 2px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: black;
}

.focus {
  font-size: 12px;
  font-family: "fira-sans-2", helvetica, sans-serif !important;
  font-weight: bold;
}
