/*  Name: Alexander de Groot      Student#: 10078797*/
/* continent color */
.continent
{

}

/* country colors */
path.es
{
  fill: #E60026;
}

path.it
{
  fill: 	#0099FF;
}

path.se
{
  fill: #fecc00;
}
